.kc-logo-text {
    height: 200px !important;
    width: auto !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
